
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style-type: none ;
}

html{
  font-size: 16px;
}

body{
  display: flex;
  flex-flow: column wrap;
  background-color: rgb(255, 214, 252);
  height: 100%;
  min-height: 100vh;
  width: 100%;
  font-family: 'Roboto', sans-serif;

}

/* general estilos*/
/* animaciones*/
.text-focus-in  {
	-webkit-animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	        animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}


/* imagens */

.imgBrand, .imgBrandHeader{
  width:  50px;
  height: 50px;
  border: 2px solid transparent;
  border-radius: 70px;
  -webkit-border-radius: 70px;
  -moz-border-radius: 70px;
  -ms-border-radius: 70px;
  -o-border-radius: 70px;
}

/* general containers*/
.container{
  display: flex;
width:70%;
margin: 16px;
align-self: center;
justify-content: space-around;
align-items: space-around;
padding: 2rem;
}


nav{
  display: inline-flex;
  width: 100%;
  justify-content: space-evenly;
  font-size: 1.4rem;
  line-height: 4rem;
  height: 4rem;
  padding: auto;
  background: #ba004e;
  position: fixed;
  border-left: 4px solid rgb(6, 43, 0);
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}
nav a{
  width: 102px;
  background-color:  #ff0066;

  color: #f7f7f7;
  font-weight: 900px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  box-shadow: rgb(144, 0, 55) 2px 2px 2px 0px;
  box-sizing: border-box;
  font-family: MS Shell Dlg 2;
  min-height:60px;
  margin-top: 90px;
  text-align: center;
  transition-delay: 0s;
  transition-duration: 0.3s;
  transition-property: all;
  transition-timing-function: ease;
  font-style: normal;
  text-decoration: none;  margin-top: 1rem;
  }


 nav a[href="#"]{
  background-color: hsl(331, 100%, 59%);
  border-radius: 160px;
  -webkit-border-radius: 160px;
  -moz-border-radius: 160px;
  -ms-border-radius: 160px;
  -o-border-radius: 160px;
  color: rgb(255, 255, 255);
}


 nav a:hover{
    background-color: yellow;
    color: rgb(2, 13, 38);
    weight: 900px;
  }

header{
align-items: space-around;
min-height: calc(100% - 120px);
height: 100%;
    border-radius: 15px ;
  -webkit-border-radius: 15px ;
  -moz-border-radius: 15px ;
  -ms-border-radius: 15px ;
  -o-border-radius: 15px ;
  align-items:  center;
  top: 0;
  background-color: seashell;
}

h1.hit-the-floor{
  color: #ffe149
}
.hit-the-floor {
  color: rgb(255, 255, 255);
  font-size: 5em;
  font-weight: bold;
  font-family: Helvetica;
  text-shadow: 
    0 3px 0 rgb(255, 255, 255), 
    0 2px 0 #c9c9c9, 
    0 3px 0 rgb(255, 255, 255), 
    0 4px 0 #ffffff, 
    0 5px 0 rgb(69, 29, 29), 
    0 6px 1px rgba(0,0,0,.1), 
    0 0 5px rgba(0,0,0,.1), 
    0 1px 3px rgba(0,0,0,.3), 
    0 3px 5px rgba(0,0,0,.2), 
    0 5px 10px rgba(0,0,0,.25), 
    0 10px 10px rgba(254, 0, 0, 0.2), 
    0 20px 20px rgba(18, 11, 11, 0.15);

    text-align: center;

}

.hit-the-floor {
  text-align: center;
}

.aside__img{
width: 100px;
height: 100px;
}


.containerclass {
  min-width: 350px;
  min-height: 350px;
  border: 5px azure solid;
  border-radius: 100%;
  background-color: rgb(255, 255, 208);
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  overflow: hidden;
}


.perrito{
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.banner{
  padding:0;
  height: 16vh;
  width: 100%;
  object-fit: contain;
  background-color: rgba(255, 255, 255, 0.878);
  margin-top: 10px;
  margin: auto ;
  margin-bottom: 10px;
}
.header__h1{
  color: rgb(0, 17, 255);
  font-size:3rem;
  text-align: center;
  font-weight: 900;
  background-color: white;
}

.header__p{
  font-size: 22px;
  color: rgb(255, 255, 255);
  background-color: black;
  text-align: center;
  font-weight: 900;
}
.header__h2{
  font-size: 1.6rem;
  text-align: center;
  padding: 1rem;
  margin: auto;
  background-color: rgb(93, 158, 255);
  color: aliceblue;
  font-weight: 900;
}

h1{
  margin-top: 80px;
  margin-bottom: 80px;
  color: #fff;
  font-size: 5em;
}

h2{
  color: rgb(255, 255, 255);
  font-size: 3em;
}


.text-focus-in  {
	-webkit-animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	        animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

.section__h2{
  text-align: center;
  padding-top: calc(50vh * 0.15);
  font-size: 5rem;

}



.cardM2,
.cardM1{
  height: 100%;

  min-height: 55vh;
  height: 100%;
  max-height: 85vh;
  width: 45%;
  min-width: 350px;
  background: linear-gradient(180deg, #fe94c8 46.98%, #ff9fd2 110%);
  box-shadow: 0px 7px 20px rgb(255, 49, 142);
  border-radius: 10px;  box-shadow: 0px 7px 20px rgba(176, 0, 106, 0.956);
  border-radius: 10px;
  align-self: flex-start;
  justify-content: space-around;

}

.container{
  display: block;
width: 90%;
margin: 16px 0;
text-align: center;
}

form input{
  padding-left: 2rem;
  padding-right: 0;
  width: 80%;
  height: 45px;
  min-height: 30px;
  border-bottom-left-radius: 10px;
border-bottom-right-radius: 10px;
border-top-left-radius: 10px;
border-top-right-radius: 10px;
box-shadow: rgb(214, 214, 214) 1px 2px 8px 0px;
padding: 3px;
margin: 6px;
}
form label{
  padding: 10px;
  width: 40%;
  height: 100%;
  min-height: 30px;
  font-size: 1.5rem;
  

}


.imgBrandHeader{
  width: 80px;
  height: 50px;
}
.hit-the-floor  {

  font-weight: bold;
  font-family: Helvetica;
  text-shadow: 
    0 1px 0 #ccc, 
    0 2px 0 #c9c9c9, 
    0 3px 0 rgba(195, 18, 18, 0.3), 
    0 4px 0 rgba(195, 18, 18, 0.3), 
    0 5px 0 rgba(195, 18, 18, 0.3), 
    0 6px 1px rgba(0,0,0,.1), 
    0 0 5px rgba(222, 2, 2, 0.1), 
    0 1px 3px rgba(195, 18, 18, 0.3), 
    0 3px 5px rgb(255, 31, 76);
    0 5px 10px rgba(255, 255, 255, 0.25);
    0 4px 4px  rgb(255, 31, 76);
    text-align: center;

}

.section__title{
  display: inline;
  text-align: center;
  color : rgb(255, 31, 76);
  font-size: 3em;
  width: 80%;

}
.containerclass {
  min-width: 350px;
  min-height: 350px;
  border: 5px azure solid;
  border-radius: 100%;
  background-color: rgb(255, 255, 208);
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  overflow: hidden;
}

.banner{
  padding:0;
  height: 16vh;
  width: 100%;
  object-fit: contain;
  background-color: rgba(255, 255, 255, 0.878);
  margin-top: 10px;
  margin: auto ;
  margin-bottom: 10px;
}







main{
  display: flex;
  flex-flow: row wrap;
  margin-top: 80px;
  width: 90%;
  min-height: 70vh;
  height: 100%;
  background: #ffebf6;
  border-radius: 15px ;
  -webkit-border-radius: 15px ;
  -moz-border-radius: 15px ;
  -ms-border-radius: 15px ;
  -o-border-radius: 15px ;
  align-self: center;
  justify-content: space-around;
  align-items: space-around;
  margin-bottom: 4rem;

}





.card {
  background: #fdfdfd;
  border-radius:15px ;
  padding: 2rem;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  flex-direction: column;
  padding-bottom: 2rem;
  width: 350px;
  height: 590px;
  -webkit-border-radius:15px ;
  -moz-border-radius:15px ;
  -ms-border-radius:15px ;
  -o-border-radius:15px ;
  margin-bottom: 1rem;
}

.card__titulo {
  font-size: 1.4375rem;
}

.card img{
width: 220px;
  height: 300px;
}
.card__descricao {
  font-size: 1.1875rem;
  line-height: 1.5;
  text-align: justify;
}

.card__conteudo {
  padding: 2rem;
}


.card__botao {
  background: #8d0606;
  border: none;
  border-radius: 5px;
  color: #fdfdfd;
  padding: 1rem;
  margin-top: 80px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.card__botao:hover {
  background: #620404;
  cursor: pointer;
}

.card__botao {
  background: #fffb7a;
  border: none;
  border-radius: 5px;
  color: #251414;
  padding: 1rem;
  transition: all .1s ease-in-out;
}

section{
  display: flex;
  flex-flow: row wrap;
  align-self:center;
  width: 90%;
height: 90vh;
  justify-content: space-around;
  padding-top: 160px;
  padding-bottom: 80px;
  margin-top: 80px;
}


.control{
  height: 80px;
  height: 80px;
  background-size: contain;
}
form input[type="color"]{
  display: flex;
  flex-flow: column wrap;
  padding: 0.21rem;

  max-width: 50%;
  height: 10px;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  background-color: rgb(0, 0, 0);
}


textarea{
  min-width: 320px;
}

form input[type="checkbox"]{
  width: 20px;
  height: 10px;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  background-color: rgb(216, 255, 252);
  height: 25px;
}

.card__botao:hover {
  background: rgb(255, 0, 93);
  cursor: pointer;
  color: white;
  font-weight: 900;

  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  border: 5px solid rgb(218, 32, 69);
}

.about__titulo {
  margin-bottom: 1rem;
  color: #8d0606;
  font-size: 3.1875rem;
  font-family: Pacifico, cursive;
}

.about {
  text-align: center;
  padding: 5rem;
}


.about__descricao {
  font-weight: 100;
  font-size: 1.75rem;
  color: #595959;
}
.pet{
  margin-bottom: 4rem;
}
.pets {
  display: flex;
align-self: center;  justify-content: space-around;
  flex-wrap: wrap;
  margin-bottom: 80px ;
}


.circle__img {
  border: 5px goldenrod solid;
  border-radius: 100%;
  background-color: rgb(255, 255, 208);
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  background-size: cover;
  height: 300px;
  background-position: center;
  width: 300px;
  background-repeat: no-repeat;
  border-radius: 100%;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
.circle__img {
  width: 300px;
  height: 300px;
  background-image: url("./../img/logo/AMORanimalBoedo_bg01.png");
  background-size: cover;

  background-position: Scale(80%);
}

.banner__imagem{
  height: 16vh;
  width: 100%;   
  background-image: url('images/banner/bg/bg-01.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
}

.circle__name {
  
  font-family: Pacifico, cursive;
  color: #8d0606;
  font-size: 2rem;
  margin-top: 5rem;
  margin-bottom: 4rem;
}

.circle__text {
  text-transform: lowercase;
  color: #595959;
  font-size: 2.25rem;
  max-width: 330px;
  margin-bottom: 2rem;

  text-align: center;
}
.circle__img:hover {
  background: rgb(232, 4, 118);
  background-size: cover;
  height: 300px;
  background-position: center;
  width: 300px;
  background-repeat: no-repeat;
  border-radius: 100%;
  border: 4px solid #b80a4d;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;}


.circle__img--pet1:hover{
background-image: url("./../img/perris/perri-one.png");
}
.circle__img--pet2:hover{

  background-position: top;

  background-image: url("./../assets/img/perris/perri-two.png");
}
.circle__img--pet3:hover{
  background-image: url("./../assets/img/perris/perri-three.png");
  background-size: cover;
  background-position: center center;
}
.circle__img:hover{
  background-size: contain;
}

.main-about {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  min-height: 70vh;
  justify-content: space-around;
  align-items: center;
  background-image: url("./../images/bg/bg-main-01.svg");
  background-repeat: no-repeat;
  background-position: right top;
}

article#details{
  background: rgb(255, 232, 189);
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  justify-content: flex-start;
  padding-left: 2rem;
  font-size: 1rem;
}
  #details>img{
    width: 50%;
    height: 90%;
    background-color: #f6ff00;
    object-fit: cover;
    border: 5px  solid #ff0066 ;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

.main-form {
  display: flex;
  flex-flow: column wrap;
  width: 100%;
  min-height: 70vh;
}

aside {
  display: flex;
  flex-flow: column wrap;
  width: 15%;
  height: 100%;
  justify-content: space-around;
  align-items: space-around;
  background-color: rgb(170, 152, 252);
}

.div-relative {
  position: relative;
  display: flex;
  flex-flow: column wrap;
  width: 90%;
  justify-content: center;
  align-items: center;
  text-align: center;
}

section {
  display: flex;
  flex-flow: row wrap;
  width: 95%;
  height: 100%;
  background-color:#fff5ee;
  justify-content: space-around;
  align-items: center;
}

section.article-row {
  display: flex;
  flex-flow: row wrap;
  width: 85%;
  height: 70%;
  background-color: rgb(255, 166, 0);
  justify-content: space-around;
  align-items: center;
}

.section-about {
  display: flex;
  flex-flow: column wrap;
  width: 75%;
  height: 40%;
  background-color: rgb(210, 185, 139);
  justify-content: center;
  align-items: center;
}




article:nth-child(1) {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(85, 181, 0);
}

article:nth-child(2) {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  height: 50%;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(194, 31, 13);
}

article:nth-child(3) {
  display: flex;
  flex-flow: row wrap;
  width: 50%;
  height: 100%;
  justify-content: space-around;
  align-items: center;
}
/** form start */

.section-form {
  display: flex;
  flex-flow: column wrap;
  width: 65%;
  height: 100%;
}

.row-section {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  height: 50%;
}

.aside-form {
  display: flex;
  flex-flow: column wrap;
  width: 30%;
  height: 50vh;
}

fieldset,
legend {
  width: 50vw;
  color: rgb(29, 1, 1);
  font-weight: bolder;
}

input {
  height: 1rem;
  width: 50%;
  height: 1.3rem;
  margin: 1rem;
  align-self: center;
  color: gray;
  text-align: center;
}
.img-relative{
  max-width: 200px;
}
.radio-input {
  width: 10px;
}
.boxDobleArticle {
  height: 80%;
  min-height: 250px;
  width: 40%;
  background-color: rgb(115, 255, 157);
  transition: .3s;
  box-shadow: 2px 2px 2px rgb(87, 87, 87);
  border-radius: 15px;
}

.boxIconsArticle , .article-index{
  height: 100%;
  width: 20%;
  background-color: rgb(0, 158, 74);
  text-align: center;
  background-color: darkred ;
align-self: center;
  background-size: cover;
  background-position: top left;
  background-repeat: no-repeat;
  transition: .3s;
  box-shadow: 2px 2px 2px rgb(87, 87, 87);
  border-radius: 15px;
}

.boxIconsButtons {
  height: 60px;
  width: 250px;
  background-color: rgb(115, 255, 157);
  text-align: center;
  transition: .3s;
  box-shadow: 2px 2px 2px rgb(87, 87, 87);
  border-radius: 15px;
  align-self: center;
}
.cardBtn{
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
  align-items: center;
}

.social-icons-list, .social-link{
  display: flex;
width: 100%;
  height: 100%;

  height: 4rem;
  justify-content: space-around;
  align-items: center;

  align-self: center;
  text-decoration: none;
  list-style-type: none;
  color: white;

  font-size: 2.44rem;

  background: #ff4a95;}


.social-link :hover{
  color: #ffcee2;
  font-weight: 900px;
  font-size: 2rem;

}

@media screen and (max-width: 720px){
  article#details{
    background: #f6f4f7;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    justify-content: flex-start;
    padding-left: 2rem;
    font-size: 1rem;
  }
    #details>img{
      width: 100%;
      height: 40%;
      background-color:  rgb(255, 234, 199);
      border: 5px  solid #ff0066 ;
      border-radius: 15px;
      -webkit-border-radius: 15px;
      -moz-border-radius: 15px;
      -ms-border-radius: 15px;
      -o-border-radius: 15px;
      margin-right: 1rem;
      object-fit: contain;
  }
}