
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style-type: none ;
}

html{
  font-size: 16px;
}

body{
  display: flex;
  flex-flow: column wrap;
  background-color: rgb(255, 214, 252);
  min-height: 100vh;
  height: 100%;
  width: 100%;
  font-family: 'Roboto', sans-serif;

}

/* grid 12 columns*/

.text-focus-in  {
	-webkit-animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	        animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

.section__h2{
  text-align: center;
  padding-top: calc(50vh * 0.15);
  font-size: 5rem;
}

.imgBrand, .imgBrandHeader{
  width:  50px;
  height: 50px;
  border: 2px solid transparent;
  border-radius: 70px;
  -webkit-border-radius: 70px;
  -moz-border-radius: 70px;
  -ms-border-radius: 70px;
  -o-border-radius: 70px;
}


nav{
  display: inline-flex;
  width: 100%;
  justify-content: space-evenly;
  font-size: 1.4rem;
  line-height: 4rem;
  height: 4rem;
  padding: auto;
  background: #ba004e;
  position: fixed;
  border-left: 4px solid rgb(6, 43, 0);
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}
nav a{
  width: 102px;
  background-color:  #ff9cc5;

  color: #600202;
  font-weight: 900px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  box-shadow: rgb(255, 255, 255) 2px 2px 2px 0px;
  box-sizing: border-box;
  font-family: MS Shell Dlg 2;
  height:60px;
  margin-top: 90px;
  text-align: center;
  transition-delay: 0s;
  transition-duration: 0.3s;
  transition-property: all;
  transition-timing-function: ease;
  font-style: normal;
  text-decoration: none;  margin-top: 1rem;
  }


 nav a[href="#"]{
  background-color: hsl(331, 100%, 59%);
  border-radius: 160px;
  -webkit-border-radius: 160px;
  -moz-border-radius: 160px;
  -ms-border-radius: 160px;
  -o-border-radius: 160px;
  color: rgb(255, 255, 255);
}


 nav a:hover{
    background-color: yellow;
    color: rgb(2, 13, 38);
    weight: 900px;
  }

header{
width: 90%;
height: 100%;
    border-radius: 15px ;
  -webkit-border-radius: 15px ;
  -moz-border-radius: 15px ;
  -ms-border-radius: 15px ;
  -o-border-radius: 15px ;
  align-items:  center;
  top: 0;

}
.hit-the-floor {
  color: #fff;
  font-size: 5em;
  font-weight: bold;
  font-family: Helvetica;
  text-shadow: 
    0 1px 0 #ccc, 
    0 2px 0 #c9c9c9, 
    0 3px 0 #bbb, 
    0 4px 0 #b9b9b9, 
    0 5px 0 #aaa, 
    0 6px 1px rgba(0,0,0,.1), 
    0 0 5px rgba(0,0,0,.1), 
    0 1px 3px rgba(0,0,0,.3), 
    0 3px 5px rgba(0,0,0,.2), 
    0 5px 10px rgba(0,0,0,.25), 
    0 10px 10px rgba(0,0,0,.2), 
    0 20px 20px rgba(0,0,0,.15);

    text-align: center;

}

.hit-the-floor {
  text-align: center;
}

.container{
  display: block;
width: 95%;
margin: 16px;
justify-content: center;
align-items: center;
align-self: center;
}

.containerclass {
  min-width: 350px;
  min-height: 350px;
  border: 5px azure solid;
  border-radius: 100%;
  background-color: rgb(255, 255, 208);
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  overflow: hidden;
}


.perrito{
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.banner{
  padding:0;
  height: 16vh;
  width: 100%;
  object-fit: contain;
  background-color: rgba(255, 255, 255, 0.878);
  margin-top: 10px;
  margin: auto ;
  margin-bottom: 10px;
}
.header__h1{
  color: rgb(0, 17, 255);
  font-size:3rem;
  text-align: center;
  font-weight: 900;
  background-color: white;
}

.header__p{
  font-size: 22px;
  color: rgb(255, 255, 255);
  background-color: black;
  text-align: center;
  font-weight: 900;
}
.header__h2{
  font-size: 1.6rem;
  text-align: center;
  padding: 1rem;
  margin: auto;
  background-color: rgb(93, 158, 255);
  color: aliceblue;
  font-weight: 900;
}




.text-focus-in  {
	-webkit-animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	        animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

.section__h2{
  text-align: center;
  padding-top: calc(50vh * 0.15);
  font-size: 5rem;

}



.cardM2,
.cardM1{
  height: 85%;
  width: 45%;
  background: linear-gradient(180deg, #fe94c8 46.98%, #ff9fd2 110%);
  box-shadow: 0px 7px 20px rgb(255, 49, 142);
  border-radius: 10px;  box-shadow: 0px 7px 20px rgba(176, 0, 106, 0.956);
  border-radius: 10px;
  margin-bottom: 2.5%;
  margin-top: 2.5%;
}

.container{
  display: block;
width: 90%;
margin: 16px 0;
text-align: center;
}

h1{
  margin-top: 80px;
  margin-bottom: 80px;
  color: #fff;
  font-size: 5em;
}

h2{
  color: rgb(255, 255, 255);
  font-size: 3em;
}

.imgBrandHeader{
  width: 80px;
  height: 50px;
}
.hit-the-floor  {

  font-weight: bold;
  font-family: Helvetica;
  text-shadow: 
    0 1px 0 #ccc, 
    0 2px 0 #c9c9c9, 
    0 3px 0 rgba(195, 18, 18, 0.3), 
    0 4px 0 rgba(195, 18, 18, 0.3), 
    0 5px 0 rgba(195, 18, 18, 0.3), 
    0 6px 1px rgba(0,0,0,.1), 
    0 0 5px rgba(222, 2, 2, 0.1), 
    0 1px 3px rgba(195, 18, 18, 0.3), 
    0 3px 5px rgb(255, 31, 76);
    0 5px 10px rgba(255, 255, 255, 0.25);
    0 4px 4px  rgb(255, 31, 76);
    text-align: center;

}

.section__title{
  display: inline;
  text-align: center;
  color : rgb(255, 31, 76);
  font-size: 3em;
  width: 80%;

}
.containerclass {
  min-width: 350px;
  min-height: 350px;
  border: 5px azure solid;
  border-radius: 100%;
  background-color: rgb(255, 255, 208);
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  overflow: hidden;
}

.banner{
  padding:0;
  height: 16vh;
  width: 100%;
  object-fit: contain;
  background-color: rgba(255, 255, 255, 0.878);
  margin-top: 10px;
  margin: auto ;
  margin-bottom: 10px;
}







main{
  display: flex;
  flex-flow: row wrap;
  margin-top: 80px;
  width: 100%;
  min-height: 70vh;
  height: 100%;
  background: #ffebf6;
  border-radius: 15px ;
  -webkit-border-radius: 15px ;
  -moz-border-radius: 15px ;
  -ms-border-radius: 15px ;
  -o-border-radius: 15px ;
  align-self: center;
  justify-content: space-around;
  align-items: space-around;
  margin-bottom: 4rem;

}



.main__container {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  min-height: 70vh;
  justify-content: space-around;
  align-items: center;

}

.mainForm {
  display: flex;
  flex-flow: column wrap;
  width: 70;
  height: 100%;
  justify-content: center;
  align-items: center;
  align-self: center;
}

.mainForm form{
align-self: 100%;
width: 70%;
}

.divLabel{
  display: flex;
  flex-flow: column wrap;
  width: 100%;
  height: 30vh;
  justify-content: space-around;
}

.mainForm input{
  width: 400px;
}


.card {
  background: #fdfdfd;
  display: flex;
  border-radius:15px ;
  padding: 1rem;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  flex-direction: column;
  margin-bottom: 5rem;
  margin-right: 5rem;
  width: 25%;
  -webkit-border-radius:15px ;
  -moz-border-radius:15px ;
  -ms-border-radius:15px ;
  -o-border-radius:15px ;
}

.card-imagem {
  height: 200px;
  width: 100%;
  margin-top: 1rem;
}

.card__titulo {
  font-size: 1.4375rem;
}


.card__descricao {
  font-size: 1.1875rem;
  line-height: 1.5;
  text-align: justify;
}

.card__conteudo {
  padding: 2rem;
}

.card__botao {
  background: #8d0606;
  border: none;
  border-radius: 5px;
  color: #fdfdfd;
  padding: 1rem;
}

.card__botao {
  background: #8d0606;
  border: none;
  border-radius: 5px;
  color: #fdfdfd;
  padding: 1rem;
}

.card__botao:hover {
  background: #620404;
  cursor: pointer;
}

.card__botao {
  background: #8d0606;
  border: none;
  border-radius: 5px;
  color: #fdfdfd;
  padding: 1rem;
  transition: all .1s ease-in-out;
}
aside{
  display: inline-flex;
  flex-flow:column wrap;
  width: 40%;
}
.section__container{
  display: flex;
  flex-flow: column wrap;
  height: 45%;
  align-content: space-between;
}

.card__titulo {
  font-size: 1.4375rem;
}

.card img{
width: 220px;
  height: 300px;
}
.card__descricao {
  font-size: 1.1875rem;
  line-height: 1.5;
  text-align: justify;
}

.card__conteudo {
  padding: 2rem;
}


.card__botao {
  background: #8d0606;
  border: none;
  border-radius: 5px;
  color: #fdfdfd;
  padding: 1rem;
  margin-top: 80px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.card__botao:hover {
  background: #620404;
  cursor: pointer;
}

.card__botao {
  background: #8d0606;
  border: none;
  border-radius: 5px;
  color: #fdfdfd;
  padding: 1rem;
  transition: all .1s ease-in-out;
}

section{
  display: flex;
  flex-flow: row wrap;
  align-self:center;
  width: 90%;
height: 90vh;
  justify-content: space-around;
  padding-top: 160px;
  padding-bottom: 80px;
  margin-top: 80px;
}
form input{
  width: 60%;
  height: 45px;
  min-height: 30px;
  border-bottom-left-radius: 10px;
border-bottom-right-radius: 10px;
border-top-left-radius: 10px;
border-top-right-radius: 10px;
box-shadow: rgb(214, 214, 214) 1px 2px 8px 0px;
margin: 10px auto;

}

textarea{

  width: 60%;
  height: calc(45px * 5);
  min-height: 30px;
  border-bottom-left-radius: 10px;
border-bottom-right-radius: 10px;
border-top-left-radius: 10px;
border-top-right-radius: 10px;
box-shadow: rgb(214, 214, 214) 1px 2px 8px 0px;
margin: 10px auto;
}
form label{
  padding: 10px;
  width: 100%;
  height: 30%;
  min-height: 30px;
  font-size: 1.5rem;
  

}

.img__cardDetails{
  width: 50%;
  height: 100%;
  object-fit: cover;
}

details > summary {
  padding: 4px;
  width: 200px;
  background-color: #eeeeee;
  border: none;
  box-shadow: 1px 1px 2px #bbbbbb;
  cursor: pointer;
}

details > p {
  display: inline-block;
  width: 200px;
  background-color: #eeeeee;
  padding: 4px;
  margin: 0;
  box-shadow: 1px 1px 2px #bbbbbb;
}
.control{
  height: 80px;
  height: 80px;
  background-size: contain;
}
form input[type="color"]{
  display: flex;
  flex-flow: column wrap;
  padding: 0.21rem;

  max-width: 50%;
  height: 10px;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  background-color: rgb(0, 0, 0);
}


textarea{
  min-width: 320px;
}

form input[type="checkbox"]{
  width: 20px;
  height: 10px;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  background-color: rgb(216, 255, 252);
  height: 25px;
}

.card__botao:hover {
  background: rgb(255, 0, 93);
  cursor: pointer;
  color: white;
  font-weight: 900;

  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  border: 5px solid rgb(218, 32, 69);
}

.about__titulo {
  margin-bottom: 1rem;
  color: #8d0606;
  font-size: 3.1875rem;
  font-family: Pacifico, cursive;
}

.about {
  text-align: center;
  padding: 5rem;
}


.about__descricao {
  font-weight: 100;
  font-size: 1.75rem;
  color: #595959;
}
.pet{
  margin-bottom: 4rem;
}
.pets {
  display: flex;
align-self: center;  justify-content: space-around;
  flex-wrap: wrap;
  margin-bottom: 80px ;
}


.circle__img {
  border: 5px goldenrod solid;
  border-radius: 100%;
  background-color: rgb(255, 255, 208);
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  background-size: cover;
  height: 300px;
  background-position: center;
  width: 300px;
  background-repeat: no-repeat;
  border-radius: 100%;

}
.circle__img--pet1 {
  width: 300px;
  height: 300px;
  background-image: url("./../img/perris/perri-one.png");
  background-size: contain;
}
.circle__img--pet2{
  width: 300px;
  height: 300px;
  background-image: url("./../img/perris/perri-two.png");
  background-size: contain;
}
.circle__img--pet3{
  width: 300px;
  height: 300px;
  background-image: url("./../img/perris/perri-three.png");
  background-size: contain;
}
.banner__imagem{
  height: 16vh;
  width: 100%;   
  background-image: url('images/banner/bg/bg-01.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
}

.circle__name {
  
  font-family: Pacifico, cursive;
  color: #8d0606;
  font-size: 2rem;
  margin-top: 5rem;
  margin-bottom: 4rem;
}

.circle__text {
  text-transform: lowercase;
  color: #595959;
  font-size: 2.25rem;
  max-width: 330px;
  margin-bottom: 2rem;

  text-align: center;
}
.circle__img:hover {
  background: rgb(227, 255, 172);
  background-size: cover;
  height: 300px;
  background-position: center;
  width: 300px;
  background-repeat: no-repeat;
  border-radius: 100%;
  border: 4px solid #04c717;
}

.circle__img--pet1:hover{

  background-position: top center;
  background-image: url("./../img/perris/perri-one.png");
  background-size: cover;
}
.circle__img--pet2:hover{

  background-position: top;

  background-image: url("./../img/perris/perri-two.png");
}
.circle__img--pet3:hover{
  background-image: url("./../img/perris/perri-three.png");
  background-size: cover;
  background-position: center center;
}

.social-icons-list, .social-link{
  display: flex;
width: 100%;
  height: 100%;

  height: 4rem;
  justify-content: space-around;
  align-items: center;

  align-self: center;
  text-decoration: none;
  list-style-type: none;
  color: white;

  font-size: 2.44rem;

  background: #ff4a95;}


.social-link :hover{
  color: #ffcee2;
  font-weight: 900px;
  font-size: 2rem;

}